.api-container {
  width: 100%;
  min-width: 520px;
  max-width: 700px;
  height: 320px;

  margin: 40px 0px;

  padding: 35px 45px;

  background: #0a1625;

  border-radius: 8px;
}

.api-container .section {
  width: 100%;
  display: inline-flex;

  justify-content: space-between;
}

.api-container .first-section .api-name,
.api-container .first-section .creator-name,
.api-container .second-section section .api-country {
  display: inline-flex;
  transform: skew(-25deg);

  padding: 13px 18px;
  margin: 0px 10px;
  width: fit-content;

  white-space: nowrap;

  background: #14283b;
}

@media screen and (max-width: 1060px) {
  .api-container .title,
  .api-container p {
    transform: skew(25deg);
    font-size: 13px;
    transition: .25s;
  }
}

.api-container .title {
  font-family: 'Ubuntu', sans-serif;

  color: #9cbcdc;
  margin-right: 12px;
}

.api-container p {
  font-family: 'Roboto';
  font-weight: 500;
  color: #9cbcdc;
}

.api-container .title,
.api-container p {
  transform: skew(25deg);
  transition: .25s;
}

.api-container .second-section {
  margin-top: 58px;
}

.api-container .second-section .description {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 260px;
  height: 130px;
  padding: 0px 19px;

  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #0a1625;

  background: #9cbcdc;
  border-radius: 4px;
}

.api-container .second-section section {
  width: 50%;
  height: fit-content;
  padding: 0px 18px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.api-container .second-section .viewsAndLikes {
  display: inline-flex;
  justify-content: space-between;

  width: 100%;
  padding: 0px 50px;
  margin-top: 40px;
}

.api-container .second-section .viewsAndLikes span {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 40px;

  color: #9cbcdc;
}

.api-container .second-section .viewsAndLikes .selected {
  background: #d63031;
}

.api-container .clickable {
  cursor: pointer;

  overflow: hidden;

  transition: .4s;
}

.api-container .clickable:hover {
  background: #1a4166;
}