.register .box-container .status {
  margin-bottom: 18px;
}

.register .box-container .name,
.register .box-container .email {
  width: 85%;
}
.register .box-container .input-box {
  display: inline-flex;
  justify-content: space-between;
  width: 85%;
}
.register .box-container .input-box input {
  width: 47%;

  font-size: 14px;
}

.register .box-container input {
  padding: 8px 25px;
  margin-bottom: 28px;
  
  border: none;
  border-radius: 22px;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #3b3b3b;

  outline: none;
  text-decoration: none;
}

.register .box-container .select-country {
  width: 85%;

  padding: 8px 25px;
  margin-bottom: 28px;

  border-radius: 22px;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #3b3b3b;

  outline: none;
}

.register .box-container button {
  padding: 6px 12px;
  text-align: center;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #bcbcbc;

  background: #000;
  border-radius: 25px;
  border: none;

  width: 45%;
  min-width: 180px;

  outline: none;
  transition: .5s;
  cursor: pointer;
}
.register .box-container button:hover {
  color: #fff;
}

.register .box-container .login-link {
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  color: #000;

  padding: 3px 9px;
  margin-top: 24px;

  white-space: nowrap;
}

.register .box-container .login-link:hover {
  border-bottom: 1.2px solid #000;
}

.register .box-container .checkbox-section {
  display: inline-flex;
  justify-content: center;

  width: 97%;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.register .box-container .checkbox-section input {
  margin-right: 5px;

  cursor: pointer;
}

.register .box-container .checkbox-section span {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.register .box-container .checkbox-section span a {
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  color: #000;

  white-space: nowrap;
}