.login .login-container {
  position: absolute;

  height: 62%;
  min-height: 520px;
  width: 25%;
  min-width: 320px;

  padding: 18px 25px;
  
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  background: #bcbcbcc9;
}

.login .login-container img {
  width: 90px;
  user-select: none;
}

.login .login-container .go-to-register {
  padding: 4px 10px;
  margin-top: 28px;
  margin-bottom: 30px;
  text-align: center;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #bcbcbc;

  background: #000;
  border-radius: 25px;

  width: 20%;
  min-width: 120px;

  transition: .5s;
}

.login .login-container .go-to-register:hover {
  color: #fff;
}

.login .login-container input {
  border: none;
  border-radius: 22px;
  
  margin: 19px 0px;
  padding: 8px 25px;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #3b3b3b;

  outline: none;
  text-decoration: none;

  width: 85%;
}

.login .login-container button {
  padding: 6px 12px;
  margin-top: 28px;
  margin-bottom: 40px;
  text-align: center;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #bcbcbc;

  background: #000;
  border-radius: 25px;
  border: none;

  width: 45%;
  min-width: 180px;

  outline: none;
  transition: .5s;
  cursor: pointer;
}

.login .login-container button:hover {
  color: #fff;
}

.login .login-container .forget-pass-link {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #000;

  white-space: nowrap;
}