.blue-section {
  display: inline-flex;
  justify-content: space-between;

  padding-left: 4%;
  margin-top: 80px;

  height: 600px;
  min-width: 100%;

  background: linear-gradient(to right, #101435, #101a64,#1a2caa);
  background-clip: border-box;
}

.blue-section .content {
  display: inline-flex;
  align-items: center;
  z-index: 2;

  width: 50%;
}

.blue-section .logo-home {
  height: 420px;
  margin: 0px 29px;
  z-index: 2;
}

.blue-section .background {
  width: 96%;
  height: 600px;
  text-align: end;
  position: absolute;
  z-index: -1;
}

.blue-section .background .bg-decoration {
  height: 600px;
}

.blue-section .text-box {
  font-family: 'Roboto', sans-serif;
}

.blue-section .text-box h1 {
  color: #bfbfbf;
  text-shadow: 7px 7px 8px rgba(0, 0, 0, .45);

  margin-bottom: 35px;

  font-size: 62px;
}

.blue-section .text-box h3 {
  color: #bfbfbf;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, .45);

  font-size: 22px;
  width: 100%;
  min-width: 200px;
}

.main-homepage {
  padding: 50px 0px;
}

.main-homepage .select-api {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  width: 70%;
  min-width: 670px;
  max-width: 780px;
  padding: 40px 80px;
  margin: 70px 0px;

  border-radius: 8px;
  box-shadow: -8px 12px 20px rgba(0, 0, 0, .4);
  background: #bcbcbca2;
}

.main-homepage .select-page {
  display: inline-flex;
  align-items: center;

  max-width: 500px;

  text-align: center;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.main-homepage .select-page button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8px 12.2px;
  margin: 0px 10px;

  border: none;
  background: #b3b3b3;
  border-radius: 8px;

  outline: none;
  cursor: pointer;
}

.main-homepage .select-page .selected {
  border: 1.2px solid #2c3e50;
  background: #737373;

  padding: 8px 11px;
}

.main-homepage .pages-available {
  width: 100%;
  text-align: center;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  font-style: italic;
  color: #bcbcbc;

  margin-top: 21px;

  opacity: .75;
}

.main-homepage .select-api .sortItems {
  display: inline-flex;

  width: 100%;

  justify-content: center;
  align-items: center;
}

.main-homepage .select-api .sortType {
  width: 150px;
  margin: 0px 18px;
  padding: 4px 6px;

  font-size: 15px;
  font-family: 'Roboto', sans-serif;

  outline: none;
  cursor: pointer;

  border: none;
  background-color: #f3f3f3;
}

.donate-section {
  height: 200px;
  width: 100%;
  min-width: 450px;
  background-color: #81818165;

  padding: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.donate-section h1 {
  margin-bottom: 40px;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 19px;
  color: #fafafa;
}

.donate-section .donate-paypal {
  padding: 6px 15px;

  white-space: nowrap;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #fafafa;

  background: #007aba;
  border: none;
  border-radius: 8px;

  cursor: pointer;
  transition: .4s;
  outline: none;
}

.donate-section .donate-paypal:hover {
  background: #005ea6;
}

.donate-section .donate-paypal .paypal-icon {
  margin-left: 5px;
}
