.profile-container {
    min-height: 100vh;
    min-width: 600px;

    display: flex;
    flex-direction: column;

    margin-top: 80px;
}

.profile-container .first-section-main {
    display: inline-flex;

    min-height: 400px;
    min-width: 950px;

    padding: 80px 70px;

    background: linear-gradient(to right, #00273a, #00192a);
}

.profile-container .first-section-main .first-half {
    width: 45%;
}

.profile-container .first-section-main .user-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 43px;

    color: #dbe7e1;

    margin-bottom: 18px;
}

.profile-container .first-section-main .edit-profile {
    background: #c14135;
    border: none;

    color: #dbe7e1;

    padding: 16px 12px;

    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    cursor: pointer;
    outline: none;
}

.profile-container .first-section-main .followage {
    display: inline-flex;
    margin-bottom: 40px;

    color: #dbe7e1;
}

.profile-container .first-section-main .followage div {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;

    cursor: pointer;

    transition: .4s;
}

.profile-container .first-section-main .followage div:hover {
    letter-spacing: 1.8px;
}

.profile-container .first-section-main .followage div + div {
    margin-left: 18px;
}

.profile-container .first-section-main .second-half {
    width: 40%;

    display: inline-flex;
    justify-content: space-between;

    padding: 70px 0px 0px 0px;
}

.profile-container .first-section-main .second-half .info-box {
    background: #212121;

    height: fit-content;

    white-space: nowrap;

    padding: 16px 28px;
    margin: 0px 10px;

    color: #dbe7e1;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 19px;
}

.profile-container .second-section-main {
    display: inline-flex;
}

.profile-container .second-section-main .first-box,
.profile-container .second-section-main .second-box {
    position: relative;
    height: max(1000px, 100vh);

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
}

.profile-container .second-section-main .scrollable-div {
    height: 100%;
    padding: 0px 40px;

    overflow: hidden;
    overflow-y: scroll;
}

.profile-container .second-section-main .bg {
    width: 60%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    opacity: .6;
    z-index: -1111;
}

.profile-container .second-section-main .background-color {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    z-index: -1112;
}

.profile-container .second-section-main .title-section-profile {
    padding: 30px 60px 10px 60px;
    color: #bcbcbc;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.profile-container .second-section-main .amount-apis {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    font-style: italic;
    color: #bcbcbc;

    margin-bottom: 15px;
  
    opacity: .75;
}